<h2 mat-dialog-title>Dodaj lub usuń...</h2>
<mat-dialog-content style="max-height: 85%">
  <div class="main">
    <div class="table-container">
      <table >
        <ng-container *ngFor="let row of board; let i = index">
          <tr>
            <ng-container *ngFor="let col of row; let j = index">
              <td   [ngClass]="{
                          'forest_coniferous' : col.terrain == 'FOREST_CONIFEROUS',
                          'forest_deciduous' : col.terrain == 'FOREST_DECIDUOUS',
                          'sand' : col.terrain == 'SAND',
                          'water' : col.terrain == 'WATER',
                          'extreme' : col.terrain == 'EXTREME'
                       }" (click)="tickCell(i, j)">
                <img  *ngIf="board[i][j].fireParameter.forestFireState === forestFireState.LOW" src="assets/img/fire1.png" >
                <img  *ngIf="board[i][j].fireParameter.forestFireState === forestFireState.MEDIUM" src="assets/img/fire2.png" >
                <img  *ngIf="board[i][j].fireParameter.forestFireState === forestFireState.HIGH" src="assets/img/fire3.png" >
                <img  *ngIf="board[i][j].fireParameter.forestFireState === forestFireState.EXTREME" src="assets/img/fire4.png" >
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </table>
    </div>
    <div class="sidebar">
      Wielkość pożaru

      <form [formGroup]="fireFormGroup">
        <label>
          <input type="radio" formControlName = "radioValue" [value]="forestFireState.LOW" />  <img src="assets/img/fire1.png" > - NISKI
        </label>
        <br>
        <label>
          <input type="radio" formControlName = "radioValue" [value]="forestFireState.MEDIUM" /> <img src="assets/img/fire2.png" > - ŚREDNI
        </label>
        <br>
        <label>
          <input type="radio" formControlName = "radioValue" [value]="forestFireState.HIGH" /> <img src="assets/img/fire3.png" > - WYSOKI
        </label>
        <br>
        <label>
          <input type="radio" formControlName = "radioValue" [value]="forestFireState.EXTREME" /> <img src="assets/img/fire4.png" > - EKSTREMALNY
        </label>
      </form>

    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="display: flex; justify-content: flex-end">
  <button mat-raised-button mat-dialog-close color="warn">Zrezygnuj</button>
  <button mat-raised-button mat-dialog-close="true" (click)="addFire()" color="primary">Zapisz zmiany</button>
</mat-dialog-actions>
