<div class="table-container">
  <table >
    <ng-container *ngFor="let row of board; let i = index">
      <tr>
        <ng-container *ngFor="let col of row; let j = index">
          <td  [ngClass]="{

                          'fire-non-visible' :  (!col.agentParameters.visible && col.beingBurned),
                          'fire-visible' : (col.agentParameters.visible && col.beingBurned),
                          'visible': col.agentParameters.visible,
                          'none' : (!col.agentParameters.visible && !col.agentParameters.testable)

                       }"
          >
            <img *ngIf="board[i][j].agentParameters.hasSensor" src="assets/img/sensor.png" >
            <img *ngIf="board[i][j].agentParameters.center" src="assets/img/center.png" >
            <div style="display: flex; padding-left: 5px; align-self: flex-start; justify-content: center" *ngIf="board[i][j].agentCounter.firefightersCount != 0">
              <img style="width: 30px; height: 30px;" src="assets/img/firefighter-agent.jpg">
              <p style="color: white; font-size: 20px; padding-left: 5px; padding-top: 5px"> {{board[i][j].agentCounter.firefightersCount}}</p>

            </div>

            <div style="display: flex; padding-left: 5px; align-self: flex-start; justify-content: center" *ngIf="board[i][j].agentCounter.testerAgentsCount != 0">
              <img style="width: 30px; height: 30px;" src="assets/img/tester-agent.png">
              <p style="color: white; font-size: 20px; padding-left: 5px; padding-top: 5px"> {{board[i][j].agentCounter.testerAgentsCount}}</p>

            </div>

            <div style="display: flex; padding-left: 5px; align-self: flex-start; justify-content: center" *ngIf="board[i][j].agentCounter.fireControllerAgentCount != 0">
              <img style="width: 30px; height: 30px;" src="assets/img/fire-controller-agent.png">
              <p style="color: white; font-size: 20px; padding-left: 5px; padding-top: 5px"> {{board[i][j].agentCounter.fireControllerAgentCount}}</p>

            </div>
            <!--  <p>{{i}}{{j}}</p>-->

          </td>
        </ng-container>
      </tr>
    </ng-container>
  </table>
</div>
