<mat-toolbar color="accent">
  <h1 style="padding-left: 40px;">Symulacja pożarów lasu</h1>
  <div class="spacer"></div>
  <button (click)="startSimulation()" mat-raised-button class="my-button" color="warn">Start</button>
  <button (click)="stopSimulation()" mat-raised-button class="my-button" color="basic">Stop</button>
  <button (click)="endSimulation()"mat-raised-button class="my-button" color="accent">Koniec</button>
  <button (click)="newSimulation()"mat-raised-button class="my-button" color="warn">Generuj mapę</button>
</mat-toolbar>
