<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Generuj teren</ng-template>
      <div style="display: flex">
        <div class="main-content-terrain">
          <app-terrain-board></app-terrain-board>
        </div>
        <div style="flex: 1">
          <div style="display: flex; justify-content: flex-end; margin-bottom: 20px">
            <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Wczytaj konfiguracje mapy
            </label>
            <input id="file-upload" type="file" #fileInput (change)="changeFile($event)"/>
          </div>
          <div class="header">
            <h1>LEGENDA</h1>
          </div>
          <div class="terrain-desc">
            <img src="../../assets/img/SAND.png">
            TERENY PIASZCZYSTE
          </div>
          <div class="terrain-desc">
            <img src="../../assets/img/FOREST_CONIFEROUS.png">
            LAS IGLASTY
          </div>
          <div class="terrain-desc">
            <img src="../../assets/img/FOREST_DECIDUOUS.png">
            LAS LIŚCIASTY
          </div>
          <div class="terrain-desc">
            <img src="../../assets/img/WATER.png">
            TERENY WODNE
          </div>

          <p><b>SEED</b> - Przesunięcie mapy </p>
          <p><b>FREQUENCY</b> - Częstotliwość pojawienia się tego samego terenu </p>
          <div class="header">
            <h1>USTAWIENIA</h1>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>Seed</mat-label>
            <input type="number" matInput placeholder="10" formControlName="seed" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Frequency</mat-label>
            <input type="number" matInput placeholder="10" formControlName="frequency" required>
          </mat-form-field>

          <div class="header">
            <h1>PRAWDOPODOBIEŃSTWO WYSTĄPIENIA DANEGO TERNU</h1>
          </div>

          <div class="terrain-desc">
            <img src="../../assets/img/SAND.png">
            <mat-slider min="0" max="10" step="1" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb formControlName="sand">
            </mat-slider>
          </div>

          <div class="terrain-desc">
            <img src="../../assets/img/FOREST_CONIFEROUS.png">
            <mat-slider min="0" max="10" step="1" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb formControlName="forestConiferous">
            </mat-slider>
          </div>

          <div class="terrain-desc">
            <img src="../../assets/img/FOREST_DECIDUOUS.png">
            <mat-slider min="0" max="10" step="1" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb formControlName="forestDeciduous">
            </mat-slider>
          </div>

          <div class="terrain-desc">
            <img src="../../assets/img/WATER.png">
            <mat-slider min="0" max="10" step="1" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb formControlName="water">
            </mat-slider>
          </div>

          <div style="display: flex; justify-content: space-between;">
            <button (click)="generate()" mat-raised-button class="my-button" color="primary">Generuj podgląd</button>
            <button matStepperNext mat-raised-button color="accent">Dalej</button>
          </div>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Ustaw pogodę">
    <div style="display: flex">
      <div class="main-content-terrain">
        <app-forest-index-board></app-forest-index-board>
      </div>
      <div style="flex: 1;">
        <div class="header">
          <h1>LEGENDA</h1>
        </div>
        <div class="header">
          <h2>STOPIEŃ ZAGROŻENIA POŻAROWEGO</h2>
        </div>
        <div class="forest-item">
          <div class='box none'></div>
          BRAK
        </div>
        <br>
        <div class="forest-item">
          <div class='box low'></div>
          NISKI
        </div>
        <br>
        <div class="forest-item">
          <div class='box moderate'></div>
          ŚREDNI
        </div>
        <br>
        <div class="forest-item">
          <div class='box high'></div>
          WYSOKI
        </div>
        <br>
        <div class="forest-item">
          <div class='box very-high'></div>
          BARDZO WYSOKI
        </div>
        <br>
        <div class="forest-item">
          <div class='box extreme'></div>
          EKSTREMALNY
        </div>

        <div class="header">
          <h1>USTAWIENIA</h1>
        </div>

        <form [formGroup]="secondFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Temperatura</mat-label>
            <input matInput type="number" formControlName="temperature" placeholder="20"
                   required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Wilgotność</mat-label>
            <input matInput type="number" formControlName="humidity" placeholder="20"
                   required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Ciśnienie</mat-label>
            <input matInput type="number" formControlName="pressure" placeholder="20"
                   required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Kierunek wiatru</mat-label>
            <input matInput type="number" formControlName="windDirection" placeholder="20"
                   required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Prędkość wiatru</mat-label>
            <input matInput type="number" formControlName="windSpeed" placeholder="20"
                   required>
          </mat-form-field>
          <div style="margin-bottom: 10px">
            <button (click)="generateForestFireIndex()" mat-raised-button class="my-button" color="primary">Generuj
              podgląd
            </button>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <button matStepperPrevious mat-raised-button color="warn">Cofnij</button>
            <button matStepperNext mat-raised-button color="accent">Dalej</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" label="Ustaw agentów">
    <div style="display: flex">
      <div class="main-content-terrain">
        <app-agent-board></app-agent-board>
      </div>
      <div style="flex: 1">
        <div class="header">
          <h1>LEGENDA</h1>
        </div>
        <div class="forest-item">
          <div class='box gray'></div>
          <div>TERENY NIEMONITOROWANE</div>
        </div>
        <br>
        <div class="forest-item">
          <div class='box low'></div>
          <div> TERENY MONITOROWANE</div>
        </div>
        <br>
        <div class="forest-item">
          <div class='box fire-non-visible'></div>
          <div> TERENY PŁONĄCE NIEMONITOROWANE</div>
        </div>
        <br>
        <div class="forest-item">
          <div class='box fire-visible'></div>
          <div> TERENY PŁONĄCE MONITOROWANE</div>
        </div>
        <br>
        <div class="forest-item">
          <div class='box test'></div>
          TERENY TESTOWALNE
        </div>
        <br>
        <div class="terrain-desc">
          <img src="assets/img/center.png">
          MANAGING AGENT
        </div>
        <div class="terrain-desc">
          <img src="assets/img/sensor.png">
          SENSOR AGENT
        </div>
        <div class="terrain-desc">
          <img src="assets/img/tester-agent.png">
          TESTER AGENT
        </div>
        <div class="terrain-desc">
          <img src="assets/img/fire-controller-agent.png">
          FIRE CONTROLLER AGENT
        </div>
        <div class="terrain-desc">
          <img src="assets/img/firefighter-agent.jpg">
          FIREFIGHTER AGENT
        </div>
        <div class="terrain-desc">
          <img src="assets/img/fire-vehicle.png">
          FIRE VEHICLE
        </div>
        <div class="header">
          <h1>USTAWIENIA</h1>
        </div>
        <form [formGroup]="thirdFormGroup">

          <div class="terrain-desc">
            <img src="assets/img/tester-agent.png">
            <mat-slider min="1" max="20" step="1" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb formControlName="testerAgents">
            </mat-slider>
          </div>

          <div class="terrain-desc">
            <img src="assets/img/fire-controller-agent.png">
            <mat-slider min="1" max="10" step="1" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb formControlName="fireControllerAgents">
            </mat-slider>
          </div>

          <div class="terrain-desc">
            <img src="assets/img/firefighter-agent.jpg">
            <mat-slider min="1" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb formControlName="firefighterAgents">
            </mat-slider>
          </div>

          <div class="terrain-desc">
            <img src="assets/img/fire-vehicle.png">
            <mat-slider min="1" max="15" step="1" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb formControlName="fireVehicles">
            </mat-slider>
          </div>
          <div class="header">
            <h1>DODAJ/USUŃ</h1>
          </div>

          <div style="display: flex; justify-content: space-between;">
            <button style="width: 30%; height: 2rem" (click)="addSensorAgents()" mat-raised-button color="warn"><img
              style="width: 1.8rem; height: 1.8rem;" src="assets/img/sensor.png"></button>
            <button style="width: 30%; height: 2rem" (click)="addManagingAgents()" mat-raised-button color="accent"><img
              style="width: 1.8rem; height:1.8rem;" src="assets/img/managing-agent.png"></button>
          </div>

          <div style="display: flex; justify-content: space-between;">
            <button style="width: 30%; height: 2rem" matStepperPrevious mat-raised-button color="warn">Cofnij</button>
            <button style="width: 30%; height: 2rem" matStepperNext mat-raised-button color="accent">Dalej</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ustal pożary</ng-template>
    <div style="display: flex">
      <div class="main-content-terrain">
        <app-fire-board></app-fire-board>
      </div>
      <div style="flex: 1;">
        <div class="header">
          <h1>LEGENDA</h1>
        </div>
        <div>
          <img style="max-width: 200px" src="assets/img/gradient-fire.png">
          <p>STOPIEŃ WYPALALENIA TERENU</p>
          <p>ZIELONY - BRAK, CZARNY - CAŁKOWITY</p>
        </div>

        <div style="margin-bottom: 10px">
          <button (click)="addFire()" mat-raised-button class="my-button" color="primary">Dodaj pożar
          </button>
        </div>

        <div style="margin-bottom: 10px">
          <button (click)="generateFinal()" mat-raised-button class="my-button" color="primary">Generuj</button>
        </div>

        <div style="margin-bottom: 10px">
          <button (click)="saveConfig()" mat-raised-button class="my-button" color="primary">Zapisz konfiguracje
          </button>
        </div>

      </div>
    </div>
  </mat-step>
</mat-stepper>
